.collapsible {
  cursor: pointer;
  color: #3d3a3a;
  width: 100%;
  padding: 20px;
  outline: none;
  font-size: 18px;
  text-align: left;
}

.active, .collapsible:hover {
  background-color: bisque;
}


.content {
  background-color: aliceblue;
  padding: 0 20px;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}
